---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="">
    <article
      class="flex gap-0.5 mx-0.5 mt-0.5 border border-[#b9b28a] p-0.5 text-md font-[VT323]"
    >
      <h2 class="flex-auto border border-[#b9b28a] pl-1">sobre_mi.pdf</h2>
      <a
        href="/"
        class="border border-[#b9b28a] px-2 py-0 text-lg text-neutral-500">X</a
      >
    </article>
    <article></article>
  </section>
</Layout>
