---
import Menu from "../components/Menu";
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation";
---

<Layout>
  <section class="relative">
    <Presentation />
    <Menu client:load />
  </section>
</Layout>

<!-- add -->
