---
import Menu from "../components/Menu";
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation";
---

<Layout>
  <section class="">
    <Presentation client:only />
    <Menu client:load />
  </section>

  add this
</Layout>
