---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <article class="py-4 mx-4 border-b-1 border-dotted border-[#B9B28A]">
      <div class="mb-4 flex gap-3 items-center">
        <figure class="relative rounded-full">
          <img
            class="rounded-full w-20 h-20"
            src="/public/mi-imagen.png"
            alt="Mi imagen"
          />
        </figure>
        <div class="flex-auto">
          <h2 class="text-2xl font-bold font-[Rajdhani] mb-2">Jhofran B.</h2>
          <p class="text-xs text-neutral-400 font-bold font-[VT323]">
            FullStack | <br />
            9:00 AM - 6:00 PM (UTC -5)
            <i class="fa-solid fa-cloud-showers-heavy"></i>
          </p>
        </div>
      </div>
      <p class="mb-4 text-neutral-500 text-base/4 font-[VT323]">
        La programación es mi magia: donde los límites desaparecen y todo es
        posible. Creo que, con tiempo y trabajo en equipo, no hay código que no
        podamos conquistar.
      </p>
      <button
        class="cursor-pointer text-[#FF9F00] font-[VT323] font-semibold hover:text-[#ffd900]"
        >Trabajemos Juntos</button
      >
    </article>
    <article class="pt-4 mx-4">
      <div class="mb-2">
        <p class="text-neutral-500 font-[VT323]">
          <i class="fa-solid fa-folder-open"></i>
          <span>Información</span>
          <i class="ml-2 text-xs fa-regular fa-square-caret-down"></i>
        </p>
        <ul class="pl-4 text-neutral-500 text-sm font-[VT323]">
          <li class="">
            <i class="fa-regular fa-file-lines"></i>
            sobre_mi.pdf
          </li>
          <li class="">
            <i class="fa-regular fa-file-lines"></i>
            experiencia.pdf
          </li>
          <li class="">
            <i class="fa-regular fa-file-lines"></i>
            habilidades.pdf
          </li>
        </ul>
      </div>
      <div class="mb-2">
        <p class="text-neutral-500 font-[VT323]">
          <i class="fa-solid fa-folder-open"></i>
          <span>Proyectos</span>
          <i class="ml-2 text-xs fa-regular fa-square-caret-down"></i>
        </p>
        <ul class="pl-4 text-neutral-500 text-sm font-[VT323]">
          <li class="">
            <i class="fa-regular fa-file-lines"></i>
            sobre_mi.pdf
          </li>
          <li class="">
            <i class="fa-regular fa-file-lines"></i>
            experiencia.pdf
          </li>
          <li class="">
            <i class="fa-regular fa-file-lines"></i>
            habilidades.pdf
          </li>
        </ul>
      </div>
      <p class="mb-2 text-neutral-500 font-[VT323]">
        <i class="fa-solid fa-folder-closed"></i>
        <span>Blog</span>
      </p>
    </article>
  </section>
</Layout>
