---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation";
import Menu from "../components/Menu";
---

<Layout>
  <section>
    <Presentation />
    <Menu client:load />
  </section>
</Layout>
