---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="p-1">
    <figure class="flex justify-center p-1 border border-[#507687]">
      <img src="/mi-portada.png" alt="Imagen de portada" />
    </figure>
  </section>
</Layout>
