---

---

<footer
  class="border-t-1 border-dotted border-[#B9B28A] flex justify-between py-2"
>
  <div class="flex font-[VT323] font-medium">
    <p class="text-[#B9B28A]">social</p>
    <ul class="flex text-[#123458]">
      {": "}
      $(
      <li><a class="text-[#2DAA9E]" href="">github</a></li>,
      <li><a class="text-[#2DAA9E]" href=""> linkedin</a></li>
      )
    </ul>
  </div>
  <p class="font-[VT323] font-medium">
    <span class="text-[#B9B28A]">version:</span>
    <span class="text-[#123458]">
      $(<span class="text-[#2DAA9E]">0.1.0</span>)
    </span>
  </p>
</footer>
