---

---

<header class="border-b-1 border-dotted border-[#B9B28A] py-2">
  <h1 class="font-[VT323] font-medium">
    <span class="text-[#B9B28A]">title:</span>
    <span class="text-[#123458]">
      $(<span class="text-[#2DAA9E]">jhofran.b</span>)
    </span>
  </h1>
</header>
