---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio</title>
  </head>
  <body
    class="relative h-screen bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
  >
    <header class="fixed top-0 left-0 right-0 grid grid-cols-4 gap-4">
      <p class=""><span>JHOFRAN</span></p>
      <nav class="col-span-2 col-start-3">
        <ul class="grid grid-cols-5 gap-2">
          <li><a href="/">Inicio</a></li>
          <li><a href="/">Sobre Mí</a></li>
          <li><a href="/">Habilidades</a></li>
          <li><a href="/">Proyectos</a></li>
          <li><a href="/"> Contacto</a></li>
        </ul>
      </nav>
    </header>
    <!-- <slot /> -->
  </body>
</html>
